{% extends 'main/layout.html' %}

{% block title %} Cart {% endblock %}

{% block main %}
    <main class="container my-5">
        <div class="col-md-3">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/" class="text-black"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://x.com/" class="text-black"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.instagram.com/" class="text-black"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://www.linkedin.com/" class="text-black"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    </ul>
        </div>
    </main>


{% endblock %}