body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.header {
    background-color: #343a40;
    color: #fff;
    z-index: 1000;
    position: relative;
}

.header .navbar-brand {
    color: #fff;
}

.header .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    padding-right: 20px;
}

.header .navbar-nav .nav-link:hover {
    color: #white;
}

.header .form-inline .form-control {
    width: 250px;
}

.header .form-inline .btn-outline-success {
    margin-left: 10px;
    color: #fff;
    border-color: #ffc107;
}

.header .form-inline .btn-outline-success:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.header .btn-outline-secondary {
    display: flex;
    align-items: center;
    color: #fff;
    border-color: #ffc107;
}

.header .btn-outline-secondary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.header .btn-outline-secondary .fa-shopping-cart {
    margin-right: 5px;
}

.welcome-banner {
    position: relative;
    text-align: center;
    color: white;
}

.welcome-banner img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.welcome-banner .welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.welcome-banner .welcome-text h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    color: #ffc107;
}


.categories {
    background-color: #f1f1f1;
    padding: 40px 0;
    position: relative;
    z-index: 1;
}

.category-img-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-img-container img {
    width: auto;
    height: 100%;
    display: block;
}

.category-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.category-card-link {
    text-decoration: none;
    color: inherit;
}

.category-card-link:hover,
.category-card-link:focus,
.category-card-link:active {
    text-decoration: none;
    color: inherit;
}

.card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5px;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.card {
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

h2, h4, h5 {
    color: #343a40;
}

aside h4 {
    margin-bottom: 20px;
}

/*Footer*/

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 40px 0;
}

.footer h5 {
    color: #ffc107;
    margin-bottom: 20px;
}

.footer p {
    color: #ccc;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #ffc107;
}

.footer .fa {
    margin-right: 10px;
}

.footer .text-center {
    margin-top: 30px;
}

/* Additional CSS */
.product-description {
    margin-top: 20px;
}

.carousel-item img {
    height: 500px;
    object-fit: contain;
    width: 100%;
    background: white;
}
.carousel-inner {
    height: 500px;
    background-color: #f8f9fa;
}
.carousel-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.carousel-thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
}
.carousel-thumbnails img:hover {
    border: 2px solid #007bff;
}
.buy-button {
    background-color: #343a40;
    border-color: #343a40;
}
.buy-button:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:  #343a40;
    background-size: 100%, 100%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color:  #ffc107;
    background-size: 100%, 100%;
}
