{% extends 'main/layout.html' %}

{% block title %} Cart {% endblock %}

{% block main %}
    <main class="container my-5">
        <h1>Cart</h1>
        {% if cart %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_id, item_data in cart.items %}
                        <tr>
                            <td>{{ item_data.name }}</td>
                            <td>${{ item_data.price }}</td>
                            <td>{{ item_data.quantity }}</td>
                            <td>
                                <form action="{% url 'delete_from_cart' item_id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Total Price: ${{ total_price|floatformat:2 }}</p>
            <hr>
            <form id="orderForm" action="{% url 'place_order' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" style="width: 200px" pattern="[A-Za-z\s]+" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" class="form-control" style="width: 200px" placeholder="e.g., 0504567890" pattern="[0-9]{10}" required>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" class="form-control" style="width: 400px">
                </div>
                <button type="submit" id="placeOrder" class="btn btn-primary">Place Order</button>
            </form>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}

        <hr>

        {% if orders_list %}
            <h2>Orders</h2>
            <ul>
                {% for order_id in orders_list %}
                    <li><a href="{% url 'order_details' order_id %}">Order {{ order_id }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>


    <script>
        document.getElementById('placeOrder').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default form submission
            document.getElementById('orderForm').submit(); // Submit the form via JavaScript
        });
    </script>
{% endblock %}



